

@model ComPro.Models.DetailViewModel
@using Microsoft.AspNet.Identity;
@using ComPro.Models;


<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form>

                    <h4>DetailViewModel</h4>
                    <hr />
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Date)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Place)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Place)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatorName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatorName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Members)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Members)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Going)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Going)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NotGoing)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NotGoing)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Maybe)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Maybe)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Seen)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Seen)
                            </dd>

                            @if (User.IsInRole("Administrator"))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Creation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Creation)
                </dd>


}

                            @if ((User.Identity.GetUserId() == Model.CreatorId) || User.IsInRole("Administrator"))
            {

                <dt>
                    @Html.DisplayNameFor(model => model.ApprovalDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApprovalDate)
                </dd>
}


                        </dl>
                    </div>



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>