
@model IEnumerable<ComPro.Models.EventViewModel>
@using Microsoft.AspNet.Identity;
@using ComPro.Models;
@using ComPro.Models;

@if (Model.Count() <= 0)
{
<div class="alert alert-primary" role="alert">
    Currently there are no event for you !!
</div>
}
<table class="table">
    @foreach (var item in Model)
    {
        <tr>

            <td>
                <a href="#" id="EventDetails" onClick="EventDetails(@item.Id)" ;>@item.EventTitel</a>
            </td>
            <td>

                @if (User.IsInRole("Administrator") && item.Approval == false)
                {<div class="col-md-offset-2 col-md-10">
                        @*<a href="@Url.Action("ApproveEvent","Event", new { Id = Model.Id })"  class="btn btn-default">Approve</a>*@
                        <a href="#" onClick="Approval(@item.Id)" ;>Approve</a>
                    </div>
                }



                @if ((User.Identity.GetUserId() == item.CreatorID) || User.IsInRole("Administrator"))
                {<div>

                        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@
                        <a href="#" onClick="EventEdit(@item.Id)" ;>Edit</a>
                        <a href="#" onClick="EventDelete(@item.Id)" ;>Delete</a>
                        @*@Html.ActionLink("Delete", "Delete", new { id = Model.Id })*@
                    </div>
                }


                @if (!(User.Identity.GetUserId() == item.CreatorID) && !(User.IsInRole("Administrator")))
                {
                 <div>
                    @if(item.Activity== "Going")
                    {
                     <a>Going</a>
                     }
                     else
                     {<a href="#" onClick="MemberResponseGoing(@item.Id)" ;>Going</a>
                     }

                     @if(item.Activity== "MayBe")
                     {<a>May Be</a>
                     }
                     else
                     {
                     <a href="#" id="maybe" onClick="MemberResponseMayBe(@item.Id)" ;>May Be</a>
                     }

                     @if(item.Activity== "NotGoing")
                     {<a>Not Going</a>
                     }
                     else
                     {
                     <a href="#" id="notgoing" onClick="MemberResponseNotGoing(@item.Id)" ;>Not Going</a>

                     }


                 </div>

                }

            </td>

        </tr>


    }

</table>
<script>

        function EventDetails(id) {
            var id = id;
            var url = "/Event/EventDetails";

            $.ajax({

                url: url,
                data: { id: id },

                success: function (data) {
                    $('#datacontainer2').html(data);
                    $('#MyModal').modal();
                }

            });

        }



    function EventEdit(id) {

        $.ajax({
            url: "/Event/Edit?id=" + id,
            success: function (data) {

                $('#datacontainer').html(data);
                $('#EventEdit').modal();

            }

        });

    }

    function EventDelete(id) {



        if (confirm('You Are Going to Delete This Event')) {

            var url = "/Event/Delete";

            var request = $.ajax({
                type: "POST",
                url: url,
                data: { id: id }
            })
            request.done(function (msg) {
                if (msg == "True") {
                    alert("Your Event Is Successfully Deleted");



                }

            });

        }

    }

    function MemberResponseGoing(id) {
       
        var request = $.ajax({

            type: "GET",
            url: "/Event/MemberResponse",
            dataType: 'json',
            //data: { ID: id},
            data: { ID: id, Response: 'Going' },
           
        })
        request.done(function (msg) {
            if (msg === "True") {
                $("#EventList").load("/Event/GetEvents");
            }

        });
        

    }


        function MemberResponseMayBe(id) {

            
            var request = $.ajax({
                type: "GET",
                url: "/Event/MemberResponse",
                data: { ID: id, Response: 'MayBe' },
                
            })
            request.done(function (msg) {
                console.log(msg);
                console.log("id:"+id);
                if (msg === "True") {
                    $("#EventList").load("/Event/GetEvents");
                }

            });


        }



        function MemberResponseNotGoing(id) {

            
            var request = $.ajax({
                type: "GET",
                url: "/Event/MemberResponse",
                data: { ID: id, Response: "NotGoing" },
               
            })
            request.done(function (msg) {
                if (msg === "True") {
                    $("#EventList").load("/Event/GetEvents");
                }

            });


        }



        function Approval(id) {

            var request = $.ajax({
                type: "POST",
                url: "/Event/ApproveEvent",
                data: { Id: id}
            })
            request.done(function (msg) {
                if (msg == "True") {

                    $("#EventList").load("/Event/NewEvent");
                }

            });

        }


</script>

<div id="datacontainer">

</div>
<div id="datacontainer2">

</div>


