<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ComPro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
 
    @Scripts.Render("~/bundles/bootstrap")
 

    <link href="~/Content/font-awesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/fa-brands.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light justify-content-between" style="margin-bottom:5px;">
        <div class="container">
            <a href="/" class="navbar-brand"><i class="fas fa-users fa-2x" data-fa-transform="grow-6"></i></a>


           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/NoticeBoard/Index" class="nav-link"><i class="fa fa-newspaper"></i> Notice Board</a></li>
                    <li class="nav-item"><a href="/UserProfile/Index" class="nav-link"><i class="fa fa-user-circle"></i> Members</a></li>
                    <li class="nav-item"><a href="/Event/Index" class="nav-link"><i class="fa fa-calendar-alt"></i> Events</a></li>
                    <li class="nav-item "><a href="/Chat/ShowChat" class="nav-link "><i class="fas fa-envelope-open"></i> Messages</a></li>

                    
                </ul>

            </div>
            <div>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer style="margin-top:10px;">
            <nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
                <div class="navbar-text m-auto">
                   Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by the Community Geniuses
                   <a href="https://github.com/RezaHoque/compro" target="_blank"> <i class="fab fa-github"></i></a>
                   
                    
                </div>
            </nav>
        </footer>
    </div>
    


  
    @RenderSection("scripts", required: false)
</body>
</html>
