@model IEnumerable<ComPro.Models.NoticeBoardViewModel>
@using Microsoft.AspNet.Identity
@using ComPro.Helpers

@{
    ViewBag.Title = "Noticeboard";
}
<div class="text-md-right">
    <a href="/Noticeboard/Create" class="card-link btn btn-primary" name="Create" id="Create"><i class="fa fa-newspaper"></i> Post to Notice board</a>
</div>

@if (User.IsInRole("Administrator"))
{
    @Html.ActionLink("New Notice", "NewNotice")
}

<p>
    @if (ViewBag.NoticeEdit != null)
    {@ViewBag.NoticeEdit;
}
    @if (ViewBag.Delete != null)
    {@ViewBag.Delete;
}

</p>

<div class="container-fluid">
    <div class="alert alert-light" role="alert">
        <h3>Displaying @Model.Count() post(s).</h3>
    </div>
    <div class="row">
        @foreach (var i in Model)
        {
        <div class="col-sm-4">
            @if (i.TotalComments >= 3)
            {

            <div class="card bg-light mb-3 border-success" style="max-width: 18rem;">
                <div class="card-header"><a href="/NoticeBoard/Notice?Id=@i.Notice.Id">@i.Notice.Title</a> </div>
                @if (i.NoticeImage != null)
    {
            <img class="card-img-top" src="@i.NoticeImage.ImagePath" alt="@i.Notice.Title">
}
            <div class="card-body">
                <p class="card-text">
                    @if (i.Notice.Description.Length > 200)
        {
            @i.Notice.Description.Substring(0, 190) <span>...</span>
}
else
{
            @i.Notice.Description
}
                    <a href="/NoticeBoard/Notice?Id=@i.Notice.Id" class="alert-link">more</a>
                    @if (!string.IsNullOrEmpty(i.Notice.WebLink))
        {
            <p><a href="@i.Notice.WebLink" target="_blank"><i class="fa fa-external-link-alt"></i> go to link</a></p><a href="@i.Notice.WebLink" target="_blank">go to link</a>
}
                    </p>
                    <h6 class="card-title bg-white" style="padding:3px;">
                        <i>
                            Posted by: <a href="/Home/Member?name=@UserInformation.UserName(i.Notice.Creator.UserName)">@UserInformation.UserName(i.Notice.Creator.UserName)</a>
                            <br />
                            @i.Notice.SubmitDate.ToShortDateString()
                        </i>
                    </h6>
                </div>
                <div class="card-footer bg-white border-success">
                    <a href="/NoticeBoard/Notice?Id=@i.Notice.Id">
                        <i class="fas fa-comments"></i> Comments @if (i.TotalComments > 0)
                        {
                            <span class="badge badge-primary">@i.TotalComments</span>
                        }
                    </a>
                </div>
                </div>

                }
                else
                {
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header"><a href="/NoticeBoard/Notice?Id=@i.Notice.Id">@i.Notice.Title</a></div>
                @if (i.NoticeImage != null)
    {
            <img class="card-img-top" src="@i.NoticeImage.ImagePath" alt="@i.Notice.Title">
}
                <div class="card-body">
                    <p class="card-text">
                        @if (i.Notice.Description.Length > 200)
    {
                    @i.Notice.Description.Substring(0, 190) <span>...</span>
}
else
{
                    @i.Notice.Description
}
                        <a href="/NoticeBoard/Notice?Id=@i.Notice.Id" class="alert-link">more</a>
                        @if (!string.IsNullOrEmpty(i.Notice.WebLink))
                        {
                            <p><a href="@i.Notice.WebLink" target="_blank"><i class="fa fa-external-link-alt"></i> go to link</a></p>
                        }
                    </p>
                    <h6 class="card-title bg-white" style="padding:3px;">
                        <i>
                            Posted by: <a href="/Home/Member?name=@UserInformation.UserName(i.Notice.Creator.UserName)">@UserInformation.UserName(i.Notice.Creator.UserName)</a>
                            <br />
                            @i.Notice.SubmitDate.ToShortDateString()
                        </i>
                    </h6>
                </div>
                <div class="card-footer bg-white border-success">
                    <a href="/NoticeBoard/Notice?Id=@i.Notice.Id">
                        <i class="fas fa-comments"></i> Comments @if (i.TotalComments > 0)
            {
                <span class="badge badge-light">@i.TotalComments</span>
}
                    </a>
                </div>
            </div>
                }
            </div>
        }
        </div>
        </div>
  
