@model IEnumerable<ComPro.Models.NoticeBoard>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



@*@if (@TempData["Massage"] != null)
{<p>@TempData["Massage"]</p>}*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebLink)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ActionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebLink)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ActionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>

           
            <td>
               

                @if (User.IsInRole("Administrator"))
                 {
                        <div class="col-md-offset-2 col-md-10">
                        <a href="@Url.Action("ApproveNotice","NoticeBoard", new { id = item.Id })" class="btn btn-default">Approve</a>
                        </div>
                 }

            </td>
               




            
        </tr>
    }

</table>
