@model ComPro.Models.NoticeBoardViewModel
@using ComPro.Helpers
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        $("#commentBox").load("/NoticeBoard/PostComment");

    });
</script>

<div class="row" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            @Model.Notice.Title
            <input type="hidden" name="hNoticeId" value="@Model.Notice.Id" id="hNoticeId" />
        </div>
        <div class="card-body">
            @Model.Notice.Description
            <p style="margin-top:10px;">
                @if (Model.NoticeImage.ImagePath != null)
    {
            <img src="@Model.NoticeImage.ImagePath" alt="@Model.Notice.Title" class="img-thumbnail" width="200px" height="200px">

}
            </p>
            <hr />
            <i>@UserInformation.UserNameById(Model.Notice.CreatorId) </i>
            <i>@Model.Notice.SubmitDate.ToShortDateString()</i>

            @*@if ((User.Identity.Name == Model.Notice.Creator.UserName) || User.IsInRole("Administrator"))
            {

                <i>@Html.ActionLink("Edit", "Edit", new { id = Model.Notice.Id })</i>

                <i>@Html.ActionLink("Delete", "Delete", new { id = Model.Notice.Id })</i>
            }*@
        </div>
    </div>
</div>

<div id="commentBox"></div>