@model ComPro.Models.NoticeBoardViewModel
@using ComPro.Helpers
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        $("#commentBox").load("/NoticeBoard/PostComment");

        
        @*var description = '@Model.Notice.Description';
        alert(description);*@
        

    });
</script>

<div class="row" style="margin-top:10px;">
    <div class="card">
        <div class="card-header">
            @Model.Notice.Title
            <input type="hidden" name="hNoticeId" value="@Model.Notice.Id" id="hNoticeId" />
        </div>
        <div class="card-body">
             @Model.Notice.Description 
            <p style="margin-top:10px;">
                @if (Model.NoticeImage.ImagePath != null)
                {
                    <img src="@Model.NoticeImage.ImagePath" alt="@Model.Notice.Title" class="img-thumbnail" width="200px" height="200px">

                }
            </p>
            @if (!string.IsNullOrEmpty(Model.Notice.WebLink))
            {
                <p><a href="@Model.Notice.WebLink" target="_blank"><i class="fa fa-external-link-alt"></i> go to link</a></p>
            }
            <hr />
            <i>@UserInformation.UserNameById(Model.Notice.CreatorId) </i>
            <i>@Model.Notice.SubmitDate.ToShortDateString()</i>

            
        </div>
    </div>
</div>

<div id="commentBox"></div>
