@model IEnumerable<ComPro.Models.UserInfo>


@foreach (var item in Model)
{
    <div class="row border border-light rounded" style="margin-bottom:3px;">
        <div class="col col-2">
            <img src="@item.Photo" alt="@item.Name" class="img-thumbnail" style="width:100px;height:100px;">
        </div>
        <div class="col col-10">
            <p><h3>@item.Name</h3></p>
            <p>
                Current position: @item.CurrentJobTitle
                <br />
                Employee: @item.CompanyName
                <br />
                Skills: @item.Skills
            </p>
            <p>
            @if (User.IsInRole(ComPro.Models.Enums.UserRole.Administrator.ToString()))
            {
                <a href="#" onClick="MemberDetails(@item.Id)" ;>Profile</a>
            }
            </p>
        </div>
    </div>
}




<script>
    function MemberDetails(id) {
        var id = id;
        var url = "/UserProfile/Details";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#Detailscontainer').html(data);
                $('#MemDetails').modal();
            }

        });

    }
</script>
<div id="Detailscontainer">
</div>
