@model IEnumerable<ComPro.Models.UserInfo>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <table>

                    <tr>
                        <td>

                            <img src="@item.Photo" height="100" width="100" />

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.Name)</p>
                            <p><strong>Position:</strong> @Html.DisplayFor(modelItem => item.CurrentJobTitle)</p>
                            <p><strong>Skills:</strong>@Html.DisplayFor(modelItem => item.Skills)</p>
                            <p><strong>Employee:</strong> @Html.DisplayFor(modelItem => item.CompanyName)</p>
                            <p>
                                @if (User.IsInRole(ComPro.Models.Enums.UserRole.Administrator.ToString()))
    {
                            <a href="#" onClick="MemberDetails(@item.Id)" ;>Profile</a>}
                            </p>
                            

                        </td>
                    </tr>
                </table>
            </td>


        </tr>
    }
</table>




<script>
    function MemberDetails(id) {
        var id = id;
        var url = "/UserProfile/Details";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#Detailscontainer').html(data);
                $('#MemDetails').modal();
            }

        });

    }
</script>
<div id="Detailscontainer">
</div>
