@model IEnumerable<ComPro.Models.UserInfo>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <table>

                    <tr>
                        <td>

                            <img src="@item.Photo" height="100" width="100" />

                        </td>

                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            @if (User.IsInRole(ComPro.Models.Enums.UserRole.Administrator.ToString()))
                            {
                                <a href="#" onClick="MemberDetails(@item.Id)" ;>Profile</a>}

                        </td>
                    </tr>
                </table>
            </td>


        </tr>
    }
</table>




@*<table class="table">
    <tr>
        <th>
            Members
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    <tabe>
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Photo)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
        </tr>
        </tabe>
        </div>
        </td>

        <@*td>
                <a href="#" onClick="MemberDetails(@item.Id)" ;>@item.Name</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


        </tr>
    }
    </table>*@
<script>
    function MemberDetails(id) {
        var id = id;
        var url = "/UserProfile/Details";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#Detailscontainer').html(data);
                $('#MemDetails').modal();
            }

        });

    }
</script>
<div id="Detailscontainer">
</div>
