@model IEnumerable<ComPro.Models.IndexViewModel2>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<input type="button" class="btn btn-primary" onClick="Create(1)" name="Poll" value="Create Poll" />
<input type="button" class="btn btn-primary" onClick="Create(2)" name="Survey" value="Create Survey" />
<br />
<br />
@foreach (var item in Model)
{
    if (item.Name == "Poll")
    {
        <a href="#" onClick="Custing(@item.Id)" ; style="color:darkblue"> @item.Title</a>
    }
    else
    {
        <a href="#" onClick="CustingSurvey(@item.Id)" ; style="color:darkgreen"> @item.Title</a>
    }


    <input type="button" class="btn btn-primary" onClick="Result(@item.Id)" name="Result" value="Show Result" />

    <br />
    <br />


}


<script>
    function Create(type) {

        var url = ("/Survey/Create?Type=" + type).toString();
        window.location.href = url;

    }

    function Custing(id) {

        var url = ("/Survey/Custpoll?Id=" + id).toString();
        window.location.href = url;

    }
    function CustingSurvey(id) {

        var url = ("/Survey/CustSurvey?Id=" + id).toString();
        window.location.href = url;

    }

    function Result(id) {

        var url = ("/Survey/ShowResult?Id=" + id).toString();
        window.location.href = url;

    }
</script>
